Trajectory_Constant popsize_0
    value = 1000

Trajectory_Constant popsize_1
    value = 8

Trajectory_Constant popsize_2
    value = 200

Trajectory_GenerationComposite popsize
    generation:trajectory = 0 popsize_0
    generation:trajectory = 15 popsize_1
    generation:trajectory = 16 popsize_2

PopulationConfigGenerator_LinearSteppingStone pcg
	chromosome_lengths = 2799800
    chromosome_pair_count = 1
    generation_count = 17
    id_offset_step = 0
    population_count = 1
    population_size = popsize

RecombinationPositionGenerator_RecombinationMap rpg_map
	filename = dmel_recRates_3L_5100200-7900000.csv

VariantIndicator_Trivial vi_trivial

Reporter_Population reporter_population
    update_step = 0

HaplotypeGrouping_Uniform hg
    ids_per_group = 2

Reporter_HaplotypeFrequencies reporter_haplotype_frequencies
    chromosome_step = 10000
    haplotype_grouping = hg
    update_step = 0

SimulatorConfig
	output_directory = chr3L_0
    population_config_generator = pcg
    recombination_position_generator = rpg_map
    reporter = reporter_population
    reporter = reporter_haplotype_frequencies
    variant_indicator = vi_trivial
    write_vi = 0
