Trajectory_Constant popsize_0
    value = 53

Trajectory_Constant popsize_1
    value = 2000

Trajectory_GenerationComposite popsize
    generation:trajectory = 0 popsize_0
    generation:trajectory = 29 popsize_1

PopulationConfigGenerator_LinearSteppingStone pcg
	chromosome_lengths = 2799800
    chromosome_pair_count = 1
    generation_count = 30
    id_offset_step = 0
    population_count = 1
    population_size = popsize

RecombinationPositionGenerator_RecombinationMap rpg_map
	filename = dmel_recRates_3L_5100200-7900000.csv

Reporter_Population reporter_population

SimulatorConfig
	output_directory = chr3L_0
    population_config_generator = pcg
    recombination_position_generator = rpg_map
    reporter = reporter_population
